@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700");

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:visited {
  color: #551a8b;
}

button {
  outline: none;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

#wrapper {
  height: 374rem;
  background-color: #eeeeee;
}

#header {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eeeeee;
  background-color: #ffffff;
}

.main_title {
  font-size: 14px;
  font-weight: bold;
  padding: 1.375rem;
  letter-spacing: 2.8px;
  color: #3c3b3b;
  text-transform: uppercase;
}

.links {
  display: none;
}

.main {
  display: flex;
  align-items: center;
  padding: 22px;
  border-left: 1px solid #eeeeee;
  padding-left: 12.8px;
}

#main {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  background-color: #eeeeee;
  padding-top: 2.4rem;
  animation: 2s ease-out 0s 1 slideInLeft;
}

#sidebar{
    animation: 2s ease-out 0s 1 slideInLeft;
}

.post {
  min-width: 23.4375rem;
  max-width: 100%;
  max-height: 85rem;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.header {
  min-width: 19rem;
  max-width: 100%;
  height: 24.8125rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border: 1px solid #eeeeee;
  padding: 4.5625rem 1.375rem 0;
  margin-bottom: 3.125rem;
}

.title {
  display: flex;
  flex-direction: column;
}

.secondary_title {
  color: #3c3b3b;
  font-weight: bold;
  letter-spacing: 6.6px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 1.25rem;
}

.paragraph {
  color: #8e8e8e;
  font-size: 0.875rem;
  letter-spacing: 3.92px;
  padding: 2rem;
}

.title:nth-child(1) {
  text-align: center;
  text-transform: uppercase;
}

.meta {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.published {
  color: #3c3b3b;
  font-size: 0.875rem;
  font-weight: bold;
  letter-spacing: 1.68px;
  text-transform: uppercase;
}

.author {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  text-decoration: underline;
}

.author > img {
  border-radius: 20px;
}

.post > a {
  max-height: 9.5rem;
  overflow: hidden;
}

.post > a > img {
  width: 100%;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.large {
  width: 15.875rem;
  height: 3.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e1e1e1;
}

.button:hover {
  color: #ff4e00;
  background-color: #eeeeee;
  border: 1px solid #3c3b3b;
  transition: ease 2s;
}

.actions a {
  letter-spacing: 3.92px;
  color: #3c3b3b;
  font-weight: bold;
  text-transform: uppercase;
}

.actions.pagination {
  min-width: 15.375rem;
  max-width: 100%;
  height: 9.3125rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.actions.pagination span {
  width: 14.75rem;
  height: 3.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.actions.pagination span:first-child {
  opacity: 50%;
}

.actions.pagination a {
  color: #3c3b3b;
  font-weight: bold;
  letter-spacing: 3.92px;
  text-transform: uppercase;
}

.mini-posts {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mini-post {
  width: 21.9375rem;
  height: 18.5rem;
  display: flex;
  flex-direction: column-reverse;
}

.mini-post > a {
  height: 11.6875rem;
  overflow: hidden;
}

.mini-post > div {
  width: 100%;
  height: 20%;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-bottom: 0;
  gap: 10px;
}

.tertiary_title {
  font-size: 0.875rem;
  font-weight: bold;
  letter-spacing: 3.92px;
  color: #3c3b3b;
  text-transform: uppercase;
}

.header span:nth-child(2) {
  font-weight: lighter;
  text-transform: uppercase;
}

.mini-post > div > a {
  position: absolute;
  right: 30px;
  bottom: 25px;
}

.posts {
  max-width: 100%;
  min-width: 23.4375rem;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.posts > span > div {
  height: 6.25rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 40px;
  margin-top: 30px;
  border: 1px solid #eeeeee;
}

.posts div:nth-child(1) .header {
  width: 16.3125rem;
  height: 4.1875rem;
  padding: 0;
  margin-bottom: 0;
  border: transparent;
}

.posts > span > div .image img {
  width: 4.6875rem;
}

.blurb {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 24.125rem;
  max-width: 100%;
  margin: 30px 20px;
}

.blurb > span {
  text-align: start;
}

.blurb > div {
  padding: 5px;
}

.blurb > .actions {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 184px;
  height: 62px;
  border: 1px solid #e1e1e1;
  padding: auto;
}

@media (min-width: 768px) {
  .actions.pagination {
    flex-direction: row-reverse;
    gap: 0.625rem;
  }

  .actions.pagination span:first-child {
    opacity: 1;
  }
  .actions.pagination > span:nth-child(2) {
    opacity: 50%;
  }

  .mini-posts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.3125rem;
  }

  .mini-post {
    margin: 0 auto;
  }

  .posts {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.3125rem;
    margin-top: 1.875rem;
  }

  .posts > span > div {
    justify-content: flex-start;
  }

  .blurb {
    width: 50%;
    text-align: justify;
  }

  .blurb > .actions > span {
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  #wrapper {
    max-width: 120rem;
    min-width: 64rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
  }

  #header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.875rem;
    position: absolute;
    top: 0;
    right: 0;
  }

  .links {
    display: flex;
  }

  .links > div {
    display: flex;
    gap: 1.25rem;
  }

  .links_item {
    font-size: 0.875rem;
    letter-spacing: 4.2px;
    color: #828282;
    text-transform: uppercase;
  }

  .links_item:hover{
    text-decoration: underline;
  }

  .menu {
    display: none;
  }

  #main {
    min-width: 50%;
    order: 2;
    margin-top: 3.75rem;
  }

  #sidebar {
    min-width: 50%;
    order: 1;
  }

  .mini-posts {
    margin-top: 5.3125rem;
    display: flex;
    flex-direction: column;
  }

  .posts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .blurb {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0 auto;
  }
}

@keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }